@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.p-0 {
  padding: 0; }

.p-1 {
  padding: 1rem; }

.pl-1 {
  padding-left: 0.5rem; }

.pb-5 {
  padding-bottom: 5rem; }

.m-0 {
  margin: 0; }

.mt-2 {
  margin-top: 2rem; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex-row {
  flex-direction: row; }

.ai-center {
  align-items: center; }

.font-weight-600 {
  font-weight: 600; }

.position-relative {
  position: relative; }

.align-self-center {
  align-self: center; }

.text-center {
  text-align: center; }

.justify-content-center {
  justify-content: center; }

.justify-content-around {
  justify-content: space-around; }

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding: 0 12rem; }
  .container-text__p1 {
    width: 100%;
    margin-top: 5rem; }
  .container-text h1 {
    text-align: left;
    width: 80%;
    margin-top: 1rem; }
    @media (max-width: 1154px) {
      .container-text h1 {
        width: 80%; } }
    @media (max-width: 830px) {
      .container-text h1 {
        width: 100%; } }
    @media (max-width: 475px) {
      .container-text h1 {
        font-size: 1.25rem; } }
  .container-text__p2 {
    width: 100%;
    margin-bottom: 5rem; }
  .container-text p {
    max-width: 80%; }
    @media (max-width: 830px) {
      .container-text p {
        max-width: 100%; } }
  @media (max-width: 1154px) {
    .container-text {
      padding: 0 8rem; } }
  @media (max-width: 1154px) {
    .container-text {
      padding: 0 2rem; } }
  @media (max-width: 1154px) {
    .container-text {
      padding: 0 1rem; } }

.background-secondary {
  background-color: #f4f7f7; }

.container-img-100 img {
  max-height: 100vh;
  object-fit: cover; }

@media (max-width: 1154px) {
  .container-img-100 {
    margin-top: 2rem; } }

@media (max-width: 830px) {
  .container-img-100 {
    margin-top: 4rem; } }

.container-img-50 {
  max-height: 50vh;
  overflow: hidden; }
  .container-img-50 img {
    object-fit: cover; }
  @media (max-width: 1154px) {
    .container-img-50 {
      margin-top: 2rem; } }
  @media (max-width: 830px) {
    .container-img-50 {
      margin-top: 4rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 0.75rem; }

::-webkit-scrollbar-thumb {
  background: #565656;
  border-radius: 0.3125rem;
  height: 15%; }

::-webkit-scrollbar-thumb:hover {
  background: #00b2f3; }

::-webkit-scrollbar-track {
  display: none; }

.img-logo {
  height: 4rem; }
  @media (max-width: 830px) {
    .img-logo {
      height: 3.5rem; } }

body {
  font-size: 1em;
  font-style: normal;
  line-height: 1.74;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%; }

main {
  background-color: #ffff;
  min-height: 100vh; }

h1 {
  font-weight: 300;
  font-size: calc(1.6em + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: #565656;
  padding: 0;
  margin: 3rem 0 2rem 0; }

h2 {
  font-weight: 300;
  font-size: calc(1.5em + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: #565656;
  padding: 0;
  margin: 3rem 0 2rem 0; }

h3 {
  font-weight: 300;
  font-size: calc(1em + 0.5vw);
  text-align: center;
  text-transform: uppercase;
  color: #565656;
  padding: 0;
  margin: 0; }

/* Definimos las Custom properties */
:root {
  /* Tipografía */
  --tipo-principal: "Montserrat";
  --tipo-secundaria: sans-serif; }

.accordion {
  width: 100%;
  --bs-accordion-bg: #00b2f3;
  --bs-accordion-border-radius: 0;
  --bs-accordion-color: #ffffff;
  --bs-accordion-border-color: none; }

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #00b2f3;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color); }

.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  margin-left: 2rem; }

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e"); }

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.accordion-button:focus {
  z-index: none;
  border-color: #0194c9;
  outline: 0;
  box-shadow: none; }

.accordion-header {
  padding: 1rem; }
  .accordion-header button {
    font-size: 1.3em;
    padding-bottom: 2rem;
    color: #ffffff;
    border-bottom: 2px solid #0194c9; }

.accordion-body p {
  color: #ffffff;
  background-color: #0194c9;
  padding: 1rem; }

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block; }

p {
  margin: 0;
  line-height: 1.5rem;
  color: #969fa8; }

ul {
  margin: 0;
  color: #969fa8; }

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit; }

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline; }

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none; }

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: #00b2f3;
  color: #ffffff; }

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block; }

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro); }

#zoom:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.transition {
  transition-duration: 0.3s; }

a:hover {
  color: #00b2f3; }

@keyframes zoom-fade {
  0%,
  100% {
    transform: scale(1);
    /* Estado inicial y final: escala normal */
    opacity: 1;
    /* Estado inicial y final: opacidad completa */ }
  50% {
    transform: scale(1.4);
    /* Escala un 20% más grande en la mitad de la animación */
    opacity: 0;
    /* Desvanecer en la mitad de la animación */ } }

.nav-personalized {
  z-index: 999;
  max-width: 93.75rem;
  position: fixed;
  top: 0;
  min-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #969fa8;
  background-color: #ffffff;
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
  padding: 1rem;
  transition: 0.5s; }
  .nav-personalized .logo {
    display: flex;
    align-items: center; }
    .nav-personalized .logo img {
      width: 15.5rem; }
  .nav-personalized.sticky .navegation {
    line-height: 4rem; }
  .nav-personalized .navegation {
    position: relative;
    line-height: 5rem;
    transition: 0.6s;
    transition-property: line-height;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: right;
    width: 80%;
    padding-right: 1rem;
    gap: 1rem; }
    .nav-personalized .navegation .menu {
      position: relative;
      display: flex;
      gap: 5rem;
      transition: 0.5s;
      transition-property: right, visibility; }
      .nav-personalized .navegation .menu.active {
        right: 0;
        visibility: visible; }
      .nav-personalized .navegation .menu .logo-mobile {
        display: flex;
        justify-content: center;
        display: none; }
        .nav-personalized .navegation .menu .logo-mobile img {
          width: 15.5rem; }
        @media (max-width: 830px) {
          .nav-personalized .navegation .menu .logo-mobile {
            display: flex; } }
      .nav-personalized .navegation .menu .menu-item a:hover {
        color: #00b2f3;
        transition: 0.3s; }
      .nav-personalized .navegation .menu .menu-item .sub-btn-a {
        padding-left: 1.5rem;
        display: inline-block;
        transition: transform 0.5s ease; }
        .nav-personalized .navegation .menu .menu-item .sub-btn-a:hover + i {
          transform: rotate(180deg);
          color: #00b2f3; }
          @media (max-width: 1154px) {
            .nav-personalized .navegation .menu .menu-item .sub-btn-a:hover + i {
              transform: rotate(0); } }
      .nav-personalized .navegation .menu .menu-item .sub-btn {
        cursor: pointer;
        transition: transform 0.5s ease; }
        .nav-personalized .navegation .menu .menu-item .sub-btn:hover {
          transform: rotate(180deg);
          color: #00b2f3; }
          @media (max-width: 1154px) {
            .nav-personalized .navegation .menu .menu-item .sub-btn:hover {
              transform: rotate(0); } }
        @media (max-width: 1154px) {
          .nav-personalized .navegation .menu .menu-item .sub-btn {
            font-size: 1.5em;
            padding-left: 0.75rem; } }
      .nav-personalized .navegation .menu .menu-item:hover .sub-menu {
        transform: translateY(0);
        display: block; }
      @media (max-width: 1154px) {
        .nav-personalized .navegation .menu .menu-item {
          position: relative;
          text-align: -webkit-center; }
          .nav-personalized .navegation .menu .menu-item:hover .sub-menu {
            transform: translateX(0.625rem);
            display: none; } }
      .nav-personalized .navegation .menu .nav__icons {
        display: none; }
        @media (max-width: 1154px) {
          .nav-personalized .navegation .menu .nav__icons {
            margin-top: 7rem;
            display: flex;
            justify-content: center;
            font-size: 2em;
            gap: 1rem; } }
      @media (max-width: 1154px) {
        .nav-personalized .navegation .menu {
          right: -100%;
          padding: 5.625rem 3.125rem;
          top: 0;
          position: fixed;
          display: block;
          visibility: hidden;
          background: #ffffff;
          overflow-y: auto;
          height: 100vh;
          justify-content: space-around;
          user-select: none;
          min-width: 40vw;
          text-align: center; }
          .nav-personalized .navegation .menu .menu-btn {
            display: block; } }
      @media (max-width: 830px) {
        .nav-personalized .navegation .menu {
          min-width: 100vw; } }
      .nav-personalized .navegation .menu .close-btn {
        display: none;
        cursor: pointer; }
        @media (max-width: 1154px) {
          .nav-personalized .navegation .menu .close-btn {
            display: block;
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 2em; } }
        .nav-personalized .navegation .menu .close-btn:hover {
          color: #ff1089;
          transition: 0.3s; }
    .nav-personalized .navegation .schedule {
      display: flex; }
      .nav-personalized .navegation .schedule i {
        color: #00b2f3;
        font-size: 1.3rem;
        padding-top: 0.1rem;
        padding-right: 0.2rem; }
      @media (max-width: 1154px) {
        .nav-personalized .navegation .schedule {
          display: none; } }
  .nav-personalized .menu-btn {
    cursor: pointer;
    display: none; }
    .nav-personalized .menu-btn:hover {
      color: #ff1089;
      transition: 0.3s; }
    @media (max-width: 1154px) {
      .nav-personalized .menu-btn {
        display: block; } }
  @media (max-width: 1154px) {
    .nav-personalized {
      padding: 1.5rem 7rem; }
      .nav-personalized.sticky {
        padding: 1rem 3rem; } }
  @media (max-width: 830px) {
    .nav-personalized {
      padding: 1rem; } }

.sub-menu {
  position: absolute;
  background: #00b2f3;
  top: 4rem;
  padding: 0;
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
  text-align: center;
  transform: translateY(1.25rem);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem; }
  .sub-menu .sub-item {
    box-shadow: inset 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
    height: 3rem;
    width: inherit;
    color: #ffffff; }
    .sub-menu .sub-item a {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 100%;
      height: 100%; }
      .sub-menu .sub-item a:hover {
        background: #0194c9;
        color: #565656 !important;
        transition: 0.3s; }
    @media (max-width: 1154px) {
      .sub-menu .sub-item {
        color: #969fa8; } }
  @media (max-width: 1154px) {
    .sub-menu {
      position: relative;
      left: -0.625rem;
      top: 0;
      transform: translateX(0.625rem);
      background: #f4f7f7;
      overflow: hidden;
      border-radius: 0.3125rem; } }

.container-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  justify-content: center;
  padding: 2rem 9rem; }
  @media (max-width: 1154px) {
    .container-cards {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;
      justify-content: center; } }
  @media (max-width: 830px) {
    .container-cards {
      display: grid;
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 1rem;
      justify-content: center;
      padding: 2rem 2rem; } }
  @media (max-width: 830px) {
    .container-cards {
      padding: 2rem 1rem; } }
  .container-cards__card {
    background-color: #ffffff;
    box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
    overflow: hidden; }
    .container-cards__card h3 {
      padding-top: 2rem; }
    .container-cards__card__img {
      position: relative;
      overflow: hidden; }
      .container-cards__card__img img {
        min-height: 18.75rem;
        max-height: 18.75rem;
        max-width: 100%;
        display: block;
        transition: transform 0.3s ease;
        object-fit: cover; }
        .container-cards__card__img img:hover {
          cursor: pointer;
          transform: scale(1.1); }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #ffffff;
  background-color: #565656;
  border-top: 1px solid #ff1089; }
  .footer__details {
    padding-right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .footer__details__img {
      width: 15rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-right: 0.5rem; }
      @media (max-width: 830px) {
        .footer__details__img {
          width: 10rem; } }
    .footer__details__ul {
      color: #ffffff;
      padding-top: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0; }
    @media (max-width: 830px) {
      .footer__details {
        padding-right: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0; } }
  .footer__icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .footer__icons i {
      font-size: 1.2em;
      color: #ffffff;
      padding: 0.25rem 0.25rem 0.25rem 1rem; }
      @media (max-width: 830px) {
        .footer__icons i {
          font-size: 1em; } }
      .footer__icons i:hover {
        color: #00b2f3; }
  .footer__copy {
    background-color: #353535;
    padding-top: 0.25rem; }
    .footer__copy p {
      color: #ffffff;
      text-align: center; }

.carousel {
  overflow: hidden;
  position: relative;
  max-width: 120em;
  margin-top: 4rem; }
  .carousel .carousel-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    width: 300%;
    transition: transform 0.7s ease-in-out; }
    .carousel .carousel-container img {
      width: calc(100% / 3);
      height: auto;
      object-fit: cover; }
  .carousel .carousel-navigation {
    width: 100%;
    position: absolute;
    bottom: 0.625rem;
    left: 50%;
    color: #00b2f3;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .carousel .carousel-navigation .carousel-prev,
    .carousel .carousel-navigation .carousel-next {
      top: 50%;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.3125rem; }
      .carousel .carousel-navigation .carousel-prev i,
      .carousel .carousel-navigation .carousel-next i {
        font-size: 2em; }
        @media (max-width: 830px) {
          .carousel .carousel-navigation .carousel-prev i,
          .carousel .carousel-navigation .carousel-next i {
            font-size: 1.5em; } }
    .carousel .carousel-navigation .carousel-dots {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0 0.625rem; }
    .carousel .carousel-navigation .carousel-dot {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      background-color: #ccc;
      margin-right: 0.625rem;
      cursor: pointer; }
      .carousel .carousel-navigation .carousel-dot.active {
        background-color: #00b2f3;
        -moz-transform: scale(1.8);
        -webkit-transform: scale(1.8);
        -o-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8); }
  @media (max-width: 1154px) {
    .carousel {
      margin-top: 3rem; } }
  @media (max-width: 830px) {
    .carousel {
      margin-top: 7rem; } }

.menu-tractaments {
  width: 100%;
  margin: 3rem 0; }
  .menu-tractaments .menu-item-tractaments {
    background-color: #00b2f3;
    padding: 2rem;
    cursor: pointer; }
    .menu-tractaments .menu-item-tractaments__p {
      font-size: 1.3em;
      padding-bottom: 2rem;
      color: #ffffff;
      border-bottom: 2px solid #0194c9; }
    .menu-tractaments .menu-item-tractaments .menu-content-tractaments {
      display: none;
      background-color: #0194c9;
      padding: 1rem; }
      .menu-tractaments .menu-item-tractaments .menu-content-tractaments p {
        color: #ffffff; }
    .menu-tractaments .menu-item-tractaments.open .menu-content-tractaments {
      display: block; }

.container-index-h2 {
  background-color: #f4f7f7; }
  .container-index-h2 .index-h2 {
    margin-top: 18rem; }
    @media (max-width: 1154px) {
      .container-index-h2 .index-h2 {
        background-color: #ffffff;
        margin-top: 16rem; } }
    @media (max-width: 830px) {
      .container-index-h2 .index-h2 {
        background-color: #ffffff;
        margin-top: 0; } }

.container-index {
  display: flex;
  position: relative;
  padding: 0 8rem; }
  .container-index__text {
    padding: 2rem 3rem;
    width: 50%; }
    .container-index__text h3 {
      margin: 2rem 0; }
    @media (max-width: 1154px) {
      .container-index__text {
        padding: 2rem 0rem; } }
    @media (max-width: 830px) {
      .container-index__text {
        width: 100%; } }
  .container-index .container-contact {
    width: 45%;
    position: absolute;
    top: -6.5625rem;
    padding-right: 7rem;
    right: 0; }
    @media (max-width: 1154px) {
      .container-index .container-contact {
        padding-right: 2rem; } }
    @media (max-width: 830px) {
      .container-index .container-contact {
        margin-top: 1rem;
        padding: 0;
        position: unset;
        width: 100%; } }
  @media (max-width: 1154px) {
    .container-index {
      padding: 0 1.5rem; } }
  @media (max-width: 830px) {
    .container-index {
      flex-direction: column; } }

.container-treatments {
  background-color: #ffffff;
  height: 25rem;
  padding: 0 16rem; }
  .container-treatments__cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 4rem 2rem;
    justify-content: center; }
    .container-treatments__cards__card {
      position: relative;
      background-color: #ffffff;
      box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .container-treatments__cards__card__img {
        top: -1.5rem;
        position: absolute;
        justify-content: center;
        display: flex;
        width: 100%; }
        .container-treatments__cards__card__img a {
          background-color: #00b2f3;
          border: 0.0625rem solid white;
          border-radius: 13.1875rem; }
          .container-treatments__cards__card__img a img {
            padding: 1.5rem;
            height: 7.875rem; }
          @media (max-width: 830px) {
            .container-treatments__cards__card__img a {
              width: 32%; } }
      .container-treatments__cards__card__treatments {
        font-size: 1.125rem;
        margin-top: 5rem; }
      .container-treatments__cards__card__info {
        font-size: 0.9375rem;
        margin-top: 2rem;
        color: #969fa8; }
    @media (max-width: 1154px) {
      .container-treatments__cards {
        grid-template-columns: repeat(2, minmax(0, 1fr)); } }
    @media (max-width: 830px) {
      .container-treatments__cards {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem 1rem; } }
  .container-treatments__a {
    margin-top: 4rem;
    text-align: center;
    color: #ff1089; }
  @media (max-width: 1154px) {
    .container-treatments {
      padding: 0 2rem; } }
  @media (max-width: 830px) {
    .container-treatments {
      padding: 0 1rem; } }

.philosophy {
  background-color: #f4f7f7;
  padding-top: 10rem; }

.container-philosophy {
  display: flex;
  margin-top: 10rem; }
  .container-philosophy__1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16rem;
    color: #969fa8; }
    .container-philosophy__1 ul {
      font-size: 1.3125em;
      padding: 3rem; }
      .container-philosophy__1 ul li {
        display: list-item;
        list-style-type: disc; }
    .container-philosophy__1 img {
      padding-right: 6rem;
      object-fit: cover; }
      @media (max-width: 830px) {
        .container-philosophy__1 img {
          padding-right: 0; } }
    @media (max-width: 1154px) {
      .container-philosophy__1 {
        padding-left: 2rem; } }
    @media (max-width: 830px) {
      .container-philosophy__1 {
        width: 100%;
        padding: 0 1rem; } }
  .container-philosophy__2 {
    width: 40%;
    background-color: #00b2f3;
    display: flex;
    flex-direction: column;
    align-items: start; }
    .container-philosophy__2__text {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 70%;
      padding: 13rem 0 10rem 0; }
      .container-philosophy__2__text h3 {
        font-size: 2.3rem;
        color: #ffffff; }
      .container-philosophy__2__text ul {
        color: #ffffff;
        padding-left: 2rem;
        margin-top: 1rem;
        width: 100%; }
        .container-philosophy__2__text ul li {
          position: relative;
          text-align: left;
          font-size: 1.1em;
          font-weight: 400;
          padding: 0.92rem 0 0.95rem 3rem; }
          .container-philosophy__2__text ul li:nth-child(2n + 1) {
            background-color: #0194c9; }
          .container-philosophy__2__text ul li i {
            padding-top: 0.3rem;
            font-size: 1.3em;
            position: absolute;
            left: 1rem; }
      @media (max-width: 1154px) {
        .container-philosophy__2__text {
          width: 100%; } }
    @media (max-width: 830px) {
      .container-philosophy__2 {
        display: none; } }
  @media (max-width: 1154px) {
    .container-philosophy {
      margin-top: 30rem; } }
  @media (max-width: 830px) {
    .container-philosophy {
      margin-top: 75rem;
      flex-direction: column; } }

.container-mutuas__logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 16rem; }
  .container-mutuas__logos img {
    height: 18.75rem;
    padding: 3rem; }
  @media (max-width: 1154px) {
    .container-mutuas__logos {
      padding: 0 2rem; } }
  @media (max-width: 1154px) {
    .container-mutuas__logos {
      padding: 0 1rem; } }

.container-mutuas__a {
  text-align: center;
  color: #ff1089; }

.information {
  background-color: #f4f7f7; }

.container-information {
  display: flex;
  flex-direction: column;
  padding: 0 16rem;
  text-align: center; }
  .container-information__text-p {
    color: #969fa8; }
  .container-information__logos {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875em;
    justify-content: center;
    margin: 5rem 0;
    gap: 2rem;
    color: #969fa8; }
    .container-information__logos__logo {
      display: flex;
      position: relative;
      justify-content: center;
      height: 13rem; }
      a:hover .container-information__logos__logo__text {
        transform: scale(0.9); }
      .container-information__logos__logo__a {
        position: absolute;
        background-color: #00b2f3;
        border: 0.0625rem solid white;
        border-radius: 13.1875rem; }
        a:hover .container-information__logos__logo__a img {
          animation: zoom-fade 0.4s; }
        .container-information__logos__logo__a img {
          padding: 2rem;
          height: 7.875rem;
          transition: transform 0.3s, opacity 0.3s; }
        @media (max-width: 830px) {
          .container-information__logos__logo__a {
            width: 67%; } }
      .container-information__logos__logo__text {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 12rem;
        transition: transform 0.3s ease; }
  @media (max-width: 1154px) {
    .container-information {
      padding: 0 2rem; } }
  @media (max-width: 830px) {
    .container-information {
      padding: 0 1rem; } }

/* ESTILOS PAGINA CONTACTO */
.img-contact {
  transform: translateY(-11vw); }
  @media (max-width: 1154px) {
    .img-contact {
      transform: translateY(0); } }

.contact {
  padding: 1rem 4rem; }
  .contact hr {
    margin: 0;
    opacity: inherit;
    height: 0.0625rem;
    border: 0;
    color: #666;
    background-color: #00b2f3; }
  .contact a {
    color: #ff1089; }
  .contact i {
    color: #00b2f3; }
  @media (max-width: 1154px) {
    .contact {
      padding: 1rem 2rem 2rem 2rem; } }
  @media (max-width: 830px) {
    .contact {
      flex-direction: column;
      justify-content: center;
      padding: 1rem; }
      .contact .wc {
        width: 100% !important; }
      .contact .fp {
        padding: 0; } }

.contact-form {
  background-color: #ffffff;
  padding: 3rem; }
  .contact-form__title {
    height: 10rem;
    background-color: #00b2f3; }
    .contact-form__title p {
      font-size: 2em;
      color: #ffffff;
      margin: 0;
      text-align: start;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
  .contact-form a {
    color: #00b2f3; }
    @media (max-width: 475px) {
      .contact-form a {
        font-size: 0.7em; } }

.field input {
  font-weight: 500;
  background-color: #f4f7f7;
  padding: 0.5rem 2.1rem;
  border: 1px solid #f4f7f7;
  height: 4rem;
  margin-bottom: 3rem; }

.field textarea {
  font-weight: 500;
  background-color: #f4f7f7;
  padding: 0.5rem 2.1rem;
  border: 1px solid #f4f7f7;
  height: 7rem;
  resize: none; }

@media (max-width: 475px) {
  input[type="checkbox"] {
    width: 0.7rem; } }

.field textarea:focus,
input:focus,
input[type]:focus {
  border-color: #00b2f3;
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08) inset, 0 0 5px #00b2f3;
  outline: 0 none; }

.send {
  text-align: -webkit-center; }
  .send button {
    opacity: 100;
    border: 0 solid #9d9d9d;
    width: 8rem;
    margin-top: 2rem;
    height: 3.2rem;
    background: linear-gradient(to right, #ff1089, #ff1089);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    cursor: pointer;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 3rem;
    transition: 0.3s; }
    .send button:hover {
      background-position: -100% 0;
      background-image: linear-gradient(to right, #ff1089, #76003c); }

.button-disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important; }

.success-msg {
  display: none;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #84fb004f; }

.success-msg p {
  color: #007100c4; }

.img-clinic {
  transform: translateY(-10vw); }
  @media (max-width: 1154px) {
    .img-clinic {
      transform: translateY(0); } }

.financing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0; }
  .financing .ul {
    max-width: 60%; }
    .financing .ul ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1rem;
      justify-content: center;
      padding: 1rem; }
      @media (max-width: 830px) {
        .financing .ul ul {
          display: grid;
          grid-template-columns: repeat(1, minmax(0, 1fr));
          gap: 1rem;
          justify-content: center; } }
      .financing .ul ul i {
        color: #00b2f3; }
      @media (max-width: 1154px) {
        .financing .ul ul {
          padding: 1rem 0; } }
    @media (max-width: 830px) {
      .financing .ul {
        max-width: 100%;
        width: 100%; } }

.img-tractaments {
  transform: translateY(-19vw); }

.tractaments-contact {
  margin-top: 33rem;
  background-color: #00b2f3;
  padding: 5rem 0;
  text-align: center;
  color: #ffffff; }
  .tractaments-contact h2 {
    color: #ffffff;
    margin: 0; }
    @media (max-width: 830px) {
      .tractaments-contact h2 {
        font-size: 1.2em; } }
    @media (max-width: 475px) {
      .tractaments-contact h2 {
        font-size: 1em; } }
  .tractaments-contact__a {
    display: flex;
    justify-content: center;
    padding: 2rem 0; }
    .tractaments-contact__a a {
      padding: 1rem 4rem;
      background: linear-gradient(to right, #ff1089, #ff1089);
      background-size: 200% 100%;
      transition: background-position 0.5s;
      border-radius: 4rem; }
      .tractaments-contact__a a:hover {
        color: #ffffff;
        background-position: -100% 0;
        background-image: linear-gradient(to right, #ff1089, #76003c); }
  @media (max-width: 1154px) {
    .tractaments-contact {
      margin-top: 49rem; } }
  @media (max-width: 830px) {
    .tractaments-contact {
      margin-top: 110rem; } }

.privacidad h1 {
  margin-top: 8rem; }

.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 9rem;
  gap: 2rem;
  margin-top: 7rem; }
  @media (max-width: 1154px) {
    .container1 {
      padding: 2rem 5rem; } }
  @media (max-width: 1154px) {
    .container1 {
      padding: 2rem 2rem; } }

.card1 {
  width: 31%;
  height: 32.5rem;
  background-color: #ffffff;
  box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
  overflow: hidden; }
  @media (max-width: 1154px) {
    .card1 {
      width: 47%; } }
  @media (max-width: 830px) {
    .card1 {
      width: 100%; } }

.image-container1 {
  position: relative;
  overflow: hidden; }

.image-container1 img {
  min-height: 18.75rem;
  max-height: 18.75rem;
  max-width: 100%;
  display: block;
  transition: transform 0.3s ease;
  object-fit: cover; }
  .image-container1 img:hover {
    cursor: pointer;
    transform: scale(1.1); }

.content1 {
  padding: 1.25rem; }
  .content1 h3 {
    margin-bottom: 1rem; }

.content1 a {
  padding-top: 0.7rem;
  display: inline-block;
  color: #ff1089; }

.content1 p.show-less {
  overflow: hidden;
  height: 6.125rem;
  transition: height 0.3s ease; }

.img-orthodontics {
  transform: translateY(-11vw); }

.img-surgery {
  transform: translateY(-12vw); }

.container-specialty {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3rem 16rem; }
  .container-specialty h3 {
    padding: 3rem 0; }
  .container-specialty__ul {
    padding-left: 3rem; }
    .container-specialty__ul li {
      display: list-item;
      list-style-type: disc; }
    @media (max-width: 1154px) {
      .container-specialty__ul {
        padding-left: 1rem; } }
  @media (max-width: 1154px) {
    .container-specialty {
      padding: 0 4rem; } }
  @media (max-width: 830px) {
    .container-specialty {
      padding: 0 2rem; } }
