// importo utilities
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/each";
@import "./utilities/class";

//importo reset
@import "./globals/reset";

// importo animaciones
@import "./globals/animaciones";

// components

@import "./components/nav";
@import "./components/dropdown.scss";
@import "./components/card.scss";
@import "./components/footer.scss";
@import "./components/slider.scss";

// importo views
@import "./views/index";
@import "./views/contacto";
@import "./views/clinica";
@import "./views/tratamientos";
@import "./views/privacidad";
@import "./views/blog";
@import "./views/specialty.scss";
