@mixin breakpoint($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    $breakpoint-value: map-get($grid-breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

@mixin grid-template-columns(
  $columns,
  $gap: 1rem,
  $justify-content: center,
  $breakpoints: null
) {
  display: grid;
  grid-template-columns: repeat($columns, minmax(0, 1fr));
  gap: $gap;
  justify-content: $justify-content;

  @content; // Agregar esta línea para permitir estilos personalizados

  @if $breakpoints != null {
    @each $breakpoint in $breakpoints {
      @include breakpoint($breakpoint) {
        @if $breakpoint != null {
          @content; // Agregar esta línea para permitir estilos personalizados en el breakpoint específico
          @each $style in $breakpoint {
            #{nth($style, 1)}: nth($style, 2);
          }
        }
      }
    }
  }
}

@mixin display-flex(
  $flex-direction: null,
  $justify-content: center,
  $padding: null,
  $align-items: center,
  $breakpoints: null
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  padding: $padding;
  align-items: $align-items;

  @content; // Agregar esta línea para permitir estilos personalizados

  @if $breakpoints != null {
    @each $breakpoint in $breakpoints {
      @include breakpoint($breakpoint) {
        @if $breakpoint != null {
          @content; // Agregar esta línea para permitir estilos personalizados en el breakpoint específico
          @each $style in $breakpoint {
            #{nth($style, 1)}: nth($style, 2);
          }
        }
      }
    }
  }
}

@mixin grid-column(
  $justify-content,
  $span: auto/span,
  $column: null,
  $breakpoints: null
) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  grid-column: $span $column;

  @content; // Agregar esta línea para permitir estilos personalizados

  @if $breakpoints != null {
    @each $breakpoint in $breakpoints {
      @include breakpoint($breakpoint) {
        @if $breakpoint != null {
          @content; // Agregar esta línea para permitir estilos personalizados en el breakpoint específico
          @each $style in $breakpoint {
            #{nth($style, 1)}: nth($style, 2);
          }
        }
      }
    }
  }
}

@mixin shades($radius, $eje, $background: #fff) {
  border-radius: $radius;
  box-shadow: $shades;
  background: $background;
}

@mixin line($width) {
  margin: 0;
  opacity: inherit;
  width: $width;
  height: 0.0625rem;
  border: 0;
  color: #666;
  background-color: $color-primary;
}
