@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

$font-small: 13px;
$font-medium: 1em;
$color-primary: #ff1089;
$color-secondary: #00b2f3;
$background-primary: #363839;
$background-secondary: #282a2b;
$text-footer: #e7e6e6;
$text-color: #565656;
$font-primary: "Roboto", sans-serif;
$justify-c: center;
$shades: 3px 3px 3px 3px rgba(0, 0, 0, 0.09), 3px 3px 3px rgba(0, 0, 0, 0.09);

// breakpoints
$grid-breakpoints: (
  xs: 320px,
  sm: 830px,
  md: 768px,
  lg: 1000px
);

// class
$class-styles: (
  p-0: (
    padding: 0
  ),
  m-0: (
    margin: 0
  ),
  w-100: (
    width: 100%
  ),
  h-100: (
    height: 100%
  ),
  d-flex: (
    display: flex
  ),
  flex-column: (
    flex-direction: column
  ),
  flex-row: (
    flex-direction: row
  ),
  ai-center: (
    align-items: center
  ),
  font-weight-600: (
    font-weight: 600
  ),
  position-relative: (
    position: relative
  ),
  align-self-center: (
    align-self: center
  ),
  text-center: (
    text-align: center
  ),
  justify-content-center: (
    justify-content: center
  ),
  justify-content-around: (
    justify-content: space-around
  )
);
