.container-cards {
  @include grid-template-columns(3, 2rem) {
    @include breakpoint(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include breakpoint(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 2rem 2rem;
    }
    @include breakpoint(m-l) {
      padding: 2rem 1rem;
    }
  }
  padding: 2rem 9rem;
  &__card {
    background-color: $background-primary;
    box-shadow: $shades;
    overflow: hidden;
    h3 {
      padding-top: 2rem;
    }
    &__img {
      position: relative;
      overflow: hidden;
      img {
        min-height: 18.75rem;
        max-height: 18.75rem;
        max-width: 100%;
        display: block;
        transition: transform 0.3s ease;
        object-fit: cover;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}

.container-treatments {
  background-color: $background-primary;
  height: 25rem;
  padding: 0 16rem;

  &__cards {
    @include grid-template-columns(3, 4rem 2rem);

    &__card {
      position: relative;
      background-color: $background-primary;
      box-shadow: 0.067em 0.067em 4.133em rgba(12, 71, 84, 0.08);
      height: 15rem;
      @include display-flex(column);
      &__img {
        top: -1.5rem;
        position: absolute;
        @include display-flex;
        width: 100%;
        a {
          background-color: $color-primary;
          border: 0.0625rem solid white;
          border-radius: 13.1875rem;

          img {
            padding: 1.5rem;
            height: 7.875rem;
          }
          @include breakpoint(md) {
            width: 18%;
          }
          @include breakpoint(m-xl) {
            width: 24%;
          }
          @include breakpoint(m-l2) {
            width: 28%;
          }
          @include breakpoint(m-l) {
            width: 33%;
          }
          @include breakpoint(m-m) {
            width: 37%;
          }
          @include breakpoint(m-s2) {
            width: 43%;
          }
          @include breakpoint(m-s) {
            width: 44%;
          }
        }
      }
      &__treatments {
        font-size: 1.125rem;
        margin-top: 5rem;
      }
      &__info {
        font-size: 0.9375rem;
        margin-top: 2rem;
        color: $text-color-primary;
      }
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include breakpoint(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 2rem 1rem;
    }
  }
  &__a {
    margin-top: 4rem;
    text-align: center;
    color: $color-secondary;
  }
  @include breakpoint(lg) {
    padding: 0 2rem;
  }
  @include breakpoint(sm) {
    padding: 0 1rem;
  }
}
