.container-cards {
  @include grid-template-columns(3, 2rem) {
    @include breakpoint(lg) {
      @include grid-template-columns(2, 2rem);
    }
    @include breakpoint(sm) {
      @include grid-template-columns(1, 1rem);
      padding: 2rem 2rem;
    }
    @include breakpoint(sm) {
      padding: 2rem 1rem;
    }
  }
  padding: 2rem 9rem;
  &__card {
    background-color: $background-primary;
    box-shadow: $shades;
    overflow: hidden;
    h3 {
      padding-top: 2rem;
    }
    &__img {
      position: relative;
      overflow: hidden;
      img {
        min-height: 18.75rem;
        max-height: 18.75rem;
        max-width: 100%;
        display: block;
        transition: transform 0.3s ease;
        object-fit: cover;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
}
