.sub-menu {
  @include display-flex(column, center, 0);
  position: absolute;
  background: $color-primary;
  top: 4rem;
  box-shadow: $shades;
  transform: translateY(1.25rem);
  display: none;
  width: 16rem;
  .sub-item {
    box-shadow: inset 0 -30px 5px -30px rgba(255, 255, 255, 0.55);
    height: 3rem;
    width: inherit;
    color: $text-color-tertiary;
    a {
      @include display-flex;
      width: 100%;
      height: 100%;
      &:hover {
        background: $background-tertiary;
        color: $text-color-tertiary !important;
        transition: 0.3s;
      }
    }
    @include breakpoint(lg) {
      color: $text-color-primary;
      box-shadow: inset 0 -30px 5px -30px rgba(150, 159, 168, 0.55);
    }
  }
  @include breakpoint(lg) {
    position: relative;
    left: -0.625rem;
    top: 0;
    transform: translateX(0.625rem);
    background: $background-secondary;
    overflow: hidden;
  }
  @include breakpoint(m-s) {
    left: 1rem;
  }
}
