.sub-menu {
  position: absolute;
  background: $color-primary;
  top: 4rem;
  padding: 0;
  box-shadow: $shades;
  text-align: center;
  transform: translateY(1.25rem);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16rem;
  .sub-item {
    box-shadow: inset $shades;
    height: 3rem;
    width: inherit;
    color: $text-color-secondary;
    a {
      @include display-flex;
      width: 100%;
      height: 100%;
      &:hover {
        background: $background-tertiary;
        color: $text-color-secondary !important;
        transition: 0.3s;
      }
    }
    @include breakpoint(lg) {
      color: $text-color-primary;
    }
  }
  @include breakpoint(lg) {
    position: relative;
    left: -0.625rem;
    top: 0;
    transform: translateX(0.625rem);
    background: $background-secondary;
    overflow: hidden;
    border-radius: 0.3125rem;
  }
}
