.footer {
  @include display-flex(null, space-evenly, 0.5rem) {
    color: $text-color-tertiary;
    background-color: $text-color-secondary;
    border-top: 0.0625rem solid $color-secondary;
    &__details {
      padding-right: 0;
      @include display-flex;
      &__img {
        width: 15rem;
        @include display-flex;
        padding-right: 0.5rem;
        @include breakpoint(sm) {
          width: 10rem;
        }
      }
      &__ul {
        color: $text-color-tertiary;
        padding-top: 0.5rem;
        @include display-flex(column);
      }

      @include breakpoint(sm) {
        padding-right: 3rem;
        flex-direction: column;
      }
    }
    &__icons {
      @include display-flex(column);
      gap: 0.5rem;
      & i {
        font-size: 1.2em;
        color: $text-color-tertiary;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }
  &__copy {
    background-color: $background-quaternary;
    padding-top: 0.25rem;
    & p {
      color: $text-color-tertiary;
      text-align: center;
      @include breakpoint(m-l) {
        font-size: 0.6875rem;
      }
    }
  }
}
