.nav-personalized {
  z-index: 999;
  max-width: 93.75rem;
  position: fixed;
  top: 0;
  min-width: 100vw;
  @include display-flex(row, space-between);
  color: $text-color-primary;
  background-color: $background-primary;
  box-shadow: $shades;
  padding: 1rem;
  transition: 0.5s;
  .logo {
    display: flex;
    align-items: center;

    & img {
      width: 15.5rem;
    }
  }
  &.sticky .navegation {
    line-height: 4rem;
  }
  .navegation {
    position: relative;
    line-height: 5rem;
    transition: 0.6s;
    transition-property: line-height;
    @include display-flex(row, end);
    text-align: right;
    width: 80%;
    padding-right: 1rem;
    gap: 1rem;

    .menu {
      position: relative;
      display: flex;
      gap: 5rem;
      transition: 0.5s;
      transition-property: right, visibility;
      &.active {
        right: 0;
        visibility: visible;
      }
      .logo-mobile {
        justify-content: center;
        display: none;
        img {
          width: 15.5rem;
        }
        @include breakpoint(sm) {
          display: flex;
        }
      }
      .menu-item {
        a {
          &:hover {
            color: $color-primary;
            transition: 0.3s;
          }
        }
        .sub-btn-a {
          padding-left: 1.5rem;
          display: inline-block;
          transition: transform 0.5s ease;
          &:hover + i {
            transform: rotate(180deg);
            color: $color-primary;
            @include breakpoint(lg) {
              transform: rotate(0);
            }
          }
        }
        .sub-btn {
          cursor: pointer;
          transition: transform 0.5s ease;

          &:hover {
            transform: rotate(180deg);
            color: $color-primary;
            @include breakpoint(lg) {
              transform: rotate(0);
            }
          }

          @include breakpoint(lg) {
            font-size: 1.5em;
            padding-left: 0.75rem;
          }
        }

        &:hover .sub-menu {
          transform: translateY(0);
          display: block;
        }
        @include breakpoint(lg) {
          position: relative;
          text-align: -webkit-center;
          &:hover .sub-menu {
            transform: translateX(0.625rem);
            display: none;
          }
        }
      }
      .nav__icons {
        display: none;
        @include breakpoint(lg) {
          margin-top: 7rem;
          @include display-flex;
          font-size: 2em;
          gap: 1rem;
        }
      }
      @include breakpoint(lg) {
        right: -100%;
        padding: 5.625rem 3.125rem;
        top: 0;
        position: fixed;
        display: block;
        visibility: hidden;
        background: #ffffff;
        overflow-y: auto;
        height: 100vh;
        justify-content: space-around;
        user-select: none;
        min-width: 40vw;
        text-align: center;

        .menu-btn {
          display: block;
        }
      }
      @include breakpoint(sm) {
        min-width: 100vw;
      }
      .close-btn {
        display: none;
        cursor: pointer;
        @include breakpoint(lg) {
          display: block;
          position: absolute;
          top: 1rem;
          right: 1rem;
          font-size: 2em;
        }

        &:hover {
          color: $color-secondary;
          transition: 0.3s;
        }
      }
    }
    .schedule {
      display: flex;

      i {
        color: $color-primary;
        font-size: 1.3rem;
        padding-top: 0.1rem;
        padding-right: 0.2rem;
      }
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
  .menu-btn {
    cursor: pointer;
    display: none;
    &:hover {
      color: $color-secondary;
      transition: 0.3s;
    }
    @include breakpoint(lg) {
      display: block;
    }
  }
  @include breakpoint(lg) {
    padding: 1.5rem 7rem;
    &.sticky {
      padding: 1rem 3rem;
    }
  }
  @include breakpoint(sm) {
    padding: 1rem;
  }
}
