.carousel {
  overflow: hidden;
  position: relative;
  max-width: 120em;
  margin-top: 4rem;
  .carousel-container {
    @include display-flex(null, flex-start);
    width: 300%;
    transition: transform 0.7s ease-in-out;
    img {
      width: calc(100% / 3);
      height: auto;
      object-fit: cover;
    }
  }

  .carousel-navigation {
    width: 100%;
    position: absolute;
    bottom: 0.625rem;
    left: 50%;
    color: $color-primary;
    transform: translateX(-50%);
    @include display-flex;

    .carousel-prev,
    .carousel-next {
      top: 50%;
      background: none;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 0.3125rem;

      i {
        font-size: 2em;
        @include breakpoint(sm) {
          font-size: 1.5em;
        }
      }
    }

    .carousel-dots {
      @include display-flex;
      margin: 0 0.625rem;
    }

    .carousel-dot {
      width: 0.625rem;
      height: 0.625rem;
      border-radius: 50%;
      background-color: #ccc;
      margin-right: 0.625rem;
      cursor: pointer;

      &.active {
        background-color: $color-primary;
        -moz-transform: scale(1.8);
        -webkit-transform: scale(1.8);
        -o-transform: scale(1.8);
        -ms-transform: scale(1.8);
        transform: scale(1.8);
      }
    }
  }

  @include breakpoint(lg) {
    margin-top: 3rem;
  }
  @include breakpoint(sm) {
    margin-top: 7rem;
  }
}
