#zoom:hover {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.transition {
  transition-duration: 0.3s;
}

a:hover {
  color: $color-primary;
}
