* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background: $text-color;
  border-radius: 0.3125rem;
  height: 15%;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}
::-webkit-scrollbar-track {
  display: none;
}
#root {
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 93.75rem;
}

.img-logo {
  height: 4rem;
  @include breakpoint(sm) {
    height: 3.5rem;
  }
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0.88)),
    url("https://image.freepik.com/vector-gratis/diseno-patron-medico_1061-360.jpg");
}
main {
  background-color: #ffff;
  min-height: 100vh;
}
section {
  padding: 2rem;
  @include breakpoint(sm) {
    padding: 1rem;
  }
}

h1 {
  font-weight: 800;
  font-size: calc(1.6rem + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: $text-color;
  padding: 0;
  margin: 3rem 0 2rem 0;
}
h2 {
  font-weight: 700;
  font-size: calc(1rem + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: $text-color;
  padding: 0;
  margin: 3rem 0 2rem 0;
}

h3 {
  font-weight: 600;
  font-size: calc(1rem + 0.5vw);
  text-align: center;
  text-transform: uppercase;
  color: $text-color;
  padding: 0;
  margin: 0;
}

/* Definimos las Custom properties */
:root {
  /* Tipografía */
  --tipo-principal: "Montserrat";
  --tipo-secundaria: sans-serif;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

p {
  margin: 0;
  line-height: 1.5rem;
}
ul {
  margin: 0;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
}
