* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.75rem;
}
::-webkit-scrollbar-thumb {
  background: $text-color-secondary;
  border-radius: 0.3125rem;
  height: 15%;
}
::-webkit-scrollbar-thumb:hover {
  background: $color-primary;
}
::-webkit-scrollbar-track {
  display: none;
}

.img-logo {
  height: 4rem;
  @include breakpoint(sm) {
    height: 3.5rem;
  }
}

body {
  font-size: 1em;
  font-style: normal;
  line-height: 1.74;
  text-decoration: none;
  text-transform: none;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  width: 100%;
}
main {
  background-color: #ffff;
  min-height: 100vh;
}

h1 {
  font-weight: 300;
  font-size: calc(1.6em + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: $text-color-secondary;
  padding: 0;
  margin: 3rem 0 2rem 0;
}
h2 {
  font-weight: 300;
  font-size: calc(1.5em + 0.7vw);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4375rem;
  color: $text-color-secondary;
  padding: 0;
  margin: 3rem 0 2rem 0;
}

h3 {
  font-weight: 300;
  font-size: calc(1em + 0.5vw);
  text-align: center;
  text-transform: uppercase;
  color: $text-color-secondary;
  padding: 0;
  margin: 0;
}

/* Definimos las Custom properties */
:root {
  /* Tipografía */
  --tipo-principal: "Montserrat";
  --tipo-secundaria: sans-serif;
}
.accordion {
  width: 100%;
  --bs-accordion-bg: #00b2f3;
  --bs-accordion-border-radius: 0;
  --bs-accordion-color: #ffffff;
  --bs-accordion-border-color: none;
}
.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion-button:not(.collapsed) {
  color: $text-color-tertiary;
  background-color: $color-primary;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  margin-left: 2rem;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion-button:focus {
  z-index: none;
  border-color: #0194c9;
  outline: 0;
  box-shadow: none;
}
.accordion-header {
  padding: 1rem;
  button {
    font-size: 1.3em;
    padding-bottom: 2rem;
    color: $text-color-tertiary;
    border-bottom: 2px solid $background-tertiary;
  }
}
.accordion-body {
  p {
    color: $text-color-tertiary;
    background-color: $background-tertiary;
    padding: 2rem;
  }
}
/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

p {
  margin: 0;
  line-height: 1.5rem;
  color: $text-color-primary;
}
ul {
  margin: 0;
  color: $text-color-primary;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: $color-primary;
  color: $text-color-tertiary;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
}
