/* ESTILOS PAGINA CONTACTO */
.img-contact {
  transform: translateY(-11vw);
  @include breakpoint(lg) {
    transform: translateY(0);
  }
}

.contact {
  padding: 1rem 4rem;
  hr {
    @include line(null);
  }
  a {
    color: $color-secondary;
  }
  i {
    color: $color-primary;
  }
  @include breakpoint(lg) {
    padding: 1rem 2rem 2rem 2rem;
  }

  @include breakpoint(sm) {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;

    .wc {
      width: 100% !important;
    }
    .fp {
      padding: 0;
    }
  }
}
.contact-form {
  background-color: $background-primary;
  padding: 3rem;

  &__title {
    height: 10rem;
    background-color: $color-primary;
    p {
      font-size: 2em;
      color: $text-color-tertiary;
      margin: 0;
      text-align: start;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  a {
    color: $color-primary;
    @include breakpoint(xs) {
      font-size: $font-small;
    }
  }
}

.field input {
  font-weight: 500;
  background-color: $background-secondary;
  padding: 0.5rem 2.1rem;
  border: 1px solid #f4f7f7;
  height: 4rem;
  margin-bottom: 3rem;
}

.field textarea {
  font-weight: 500;
  background-color: $background-secondary;
  padding: 0.5rem 2.1rem;
  border: 1px solid #f4f7f7;
  height: 7rem;
  resize: none;
}
input[type="checkbox"] {
  @include breakpoint(xs) {
    width: 0.7rem;
  }
}

.field textarea:focus,
input:focus,
input[type]:focus {
  border-color: $color-primary;
  box-shadow: $shades inset, 0 0 5px $color-primary;
  outline: 0 none;
}

.send {
  text-align: -webkit-center;
  button {
    opacity: 100;
    border: 0 solid #9d9d9d;
    width: 8rem;
    margin-top: 2rem;
    height: 3.2rem;
    background: linear-gradient(to right, $color-secondary, $color-secondary);
    background-size: 200% 100%;
    transition: background-position 0.5s;
    cursor: pointer;
    color: $text-color-tertiary;
    text-transform: uppercase;
    border-radius: 3rem;
    transition: 0.3s;
    &:hover {
      background-position: -100% 0;
      background-image: linear-gradient(to right, $color-secondary, darken($color-secondary, 30));
    }
  }
}
.button-disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;
}
.success-msg {
  display: none;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #84fb004f;
}
.success-msg p {
  color: #007100c4;
}
