.img-tractaments {
  transform: translateY(-19vw);
}
.tractaments-contact {
  margin-top: 33rem;
  background-color: $color-primary;
  padding: 5rem 0;
  text-align: center;
  color: $text-color-tertiary;
  h2 {
    color: $text-color-tertiary;
    margin: 0;
    @include breakpoint(sm) {
      font-size: 1.2em;
    }
    @include breakpoint(xs) {
      font-size: 1em;
    }
  }

  &__a {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    a {
      padding: 1rem 4rem;
      background: linear-gradient(to right, $color-secondary, $color-secondary);
      background-size: 200% 100%;
      transition: background-position 0.5s;
      border-radius: 4rem;
      &:hover {
        color: $text-color-tertiary;
        background-position: -100% 0;
        background-image: linear-gradient(to right, $color-secondary, darken($color-secondary, 30));
      }
    }
  }
  @include breakpoint(lg) {
    margin-top: 49rem;
  }
  @include breakpoint(sm) {
    margin-top: 110rem;
  }
}
