.financing-hr {
  @include display-flex;
  & hr {
    @include line(26rem);
    @include breakpoint(sm) {
      @include line(18rem);
    }
  }
}

.container-financing {
  @include display-flex;

  &__patients {
    @include display-flex(column);
    width: 80%;
    & p {
      margin-bottom: 1rem;
    }
    &__ul {
      width: 100%;
      & ul {
        @include display-flex(row, space-around, 0.5rem);
        @include breakpoint(sm) {
          @include display-flex(column, null, 0.5rem);
          align-items: start;
          gap: 0.5rem;
        }
        & i {
          color: $color-primary;
        }
      }
    }

    @include breakpoint(sm) {
      width: 100%;
    }
  }
}
