.container1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  gap: 2rem;
  margin-top: 7rem;
}

.card1 {
  width: 31%;
  height: 32.5rem;
  background-color: $background-primary;
  border-radius: 0.5rem;
  box-shadow: $shades;
  overflow: hidden;
  @include breakpoint(lg) {
    width: 48%;
  }
  @include breakpoint(sm) {
    width: 100%;
  }
}

.image-container1 {
  position: relative;
  overflow: hidden;
}

.image-container1 img {
  min-height: 18.75rem;
  max-height: 18.75rem;
  max-width: 100%;
  display: block;
  transition: transform 0.3s ease;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.content1 {
  padding: 1.25rem;
  h3 {
    margin-bottom: 1rem;
  }
}

.content1 a {
  padding-top: 0.7rem;
  display: inline-block;
  color: $color-secondary;
}

.content1 p.show-less {
  overflow: hidden;
  height: 6.125rem;
  transition: height 0.3s ease;
}
