.img-clinic {
  transform: translateY(-10vw);
  @include breakpoint(lg) {
    transform: translateY(0);
  }
}
.financing {
  @include display-flex(column);
  .ul {
    max-width: 60%;
    ul {
      @include grid-template-columns(2, 1rem) {
        @include breakpoint(sm) {
          grid-template-columns: repeat(1, minmax(0, 1fr));
        }
      }
      padding: 1rem;

      i {
        color: $color-primary;
      }
      @include breakpoint(lg) {
        padding: 1rem 0;
      }
    }
    @include breakpoint(sm) {
      max-width: 100%;
      width: 100%;
    }
  }
}
