.container-index-h2 {
  background-color: $background-secondary;
  .index-h2 {
    margin-top: 18rem;
    @include breakpoint(lg) {
      background-color: $background-primary;
      margin-top: 16rem;
    }
    @include breakpoint(sm) {
      background-color: $background-primary;
      margin-top: 0;
    }
  }
}
.container-index {
  display: flex;
  position: relative;
  padding: 0 8rem;

  &__text {
    padding: 2rem 3rem;
    width: 50%;
    h3 {
      margin: 2rem 0;
    }
    @include breakpoint(lg) {
      padding: 2rem 0rem;
    }
    @include breakpoint(sm) {
      width: 100%;
    }
  }
  .container-contact {
    width: 45%;
    position: absolute;
    top: -6.5625rem;
    padding-right: 7rem;
    right: 0;
    @include breakpoint(lg) {
      padding-right: 2rem;
    }
    @include breakpoint(sm) {
      margin-top: 1rem;
      padding: 0;
      position: unset;
      width: 100%;
    }
  }
  @include breakpoint(lg) {
    padding: 0 1.5rem;
  }
  @include breakpoint(sm) {
    flex-direction: column;
  }
}

.philosophy {
  background-color: $background-secondary;
  padding-top: 10rem;
}
.container-philosophy {
  display: flex;
  margin-top: 10rem;
  &__1 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16rem;
    color: $text-color-primary;

    ul {
      font-size: 1.3125em;
      padding: 3rem;
      li {
        display: list-item;
        list-style-type: disc;
      }
      @include breakpoint(m-l) {
        padding: 1rem 0 0 1rem;
      }
    }
    img {
      padding-right: 6rem;
      object-fit: cover;
      @include breakpoint(sm) {
        padding-right: 0;
      }
    }
    @include breakpoint(lg) {
      padding-left: 2rem;
    }
    @include breakpoint(sm) {
      width: 100%;
      padding: 0 1rem;
    }
  }
  &__2 {
    width: 40%;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__text {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;
      width: 100%;
      h3 {
        font-size: 2.3rem;
        color: $text-color-tertiary;
      }
      ul {
        color: $text-color-tertiary;
        padding: 0 0 1rem 1rem;
        margin-top: 1rem;
        width: 100%;

        li {
          position: relative;
          text-align: left;
          font-size: 1.1em;
          font-weight: 400;
          padding: 0.92rem 0 0.95rem 3rem;
          &:nth-child(2n + 1) {
            background-color: $background-tertiary;
          }
          i {
            padding-top: 0.3rem;
            font-size: 1.3em;
            position: absolute;
            left: 1rem;
          }
        }
      }
      @include breakpoint(lg) {
        width: 100%;
      }
    }
    @include breakpoint(sm) {
      display: none;
    }
  }
  @include breakpoint(lg) {
    margin-top: 30rem;
  }
  @include breakpoint(sm) {
    margin-top: 75rem;
    flex-direction: column;
  }
}
.container-mutuas {
  &__logos {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    padding: 0 16rem;

    img {
      height: 18.75rem;
      padding: 2rem;
    }
    @include breakpoint(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      padding: 0 2rem;
    }
    @include breakpoint(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      padding: 0 1rem;
    }
  }
  &__a {
    text-align: center;
    color: $color-secondary;
  }
}
.information {
  background-color: $background-secondary;
}
