.img-orthodontics {
  transform: translateY(-11vw);
  @include breakpoint(md) {
    transform: translateY(0vw);
  }
}
.img-surgery {
  transform: translateY(-12vw);
  @include breakpoint(md) {
    transform: translateY(0vw);
  }
}
.img-implant {
  transform: translateY(-5vw);
  @include breakpoint(md) {
    transform: translateY(0vw);
  }
}

.img-root-canal {
  transform: translateY(-30vw);

  @include breakpoint(md) {
    transform: translateY(-23vw);
  }

  @include breakpoint(m-l) {
    transform: translateY(0vw);
  }
}

.container-specialty {
  @include display-flex(column, null, 7rem 16rem, flex-start);
  h2 {
    @include breakpoint(m-s) {
      font-size: 1.3em;
    }
  }
  h3 {
    padding: 3rem 0;
    @include breakpoint(m-l) {
      padding: 2rem 0;
    }
  }

  &__ul {
    padding-left: 3rem;
    li {
      display: list-item;
      list-style-type: disc;
    }
    @include breakpoint(lg) {
      padding-left: 1rem;
    }
  }
  @include breakpoint(xl) {
    padding: 0 4rem;
  }
  @include breakpoint(lg) {
    padding: 0 4rem;
  }
  @include breakpoint(sm) {
    padding: 0 2rem;
  }
  @include breakpoint(m-s) {
    padding: 0 1rem;
  }
}
